/* HECHO POR: Enrique León Geraldo IDS 5 T.M. */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,900&display=swap');

/*------------------------------*/
/*  CSS PARA VARIOS ELEMENTOS   */
/*------------------------------*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;  
}

body, a {
    font-family: 'Roboto', sans-serif;
    color: #686868;
}

/*--------------------------------------------------------------------------*/
/*  MENÚ DESPLEGABLE AL REDUCIR EL ANCHO DE LA PANTALLA A MENOS DE 768PX    */
/*--------------------------------------------------------------------------*/

#menu li>a{
  background-color: #F7F8FA;
  color: #686868;
  padding: 10px;
  display: block;
  text-decoration: none;
}
#menu li>a:hover{
  color: #686868;
  background-color: #E9E9E9;
}
#menu>li{
  float: left;

}
#menu>li>ul{
    position: absolute;
  display: none;
}
#menu>li:hover>ul {
  display:block;
}

#menu-inicio {
    color: black!important;
    font-size: 3vh;
}

.menu-opciones {
    font-size: 1rem;
}

#menu {
    display: none;
}

/*------------------------------------------------*/
/*      MENÚ SUPERIOR DE NAVEGACIÓN DEL SITIO     */
/*------------------------------------------------*/

.navegacion {
    background-color: #F7F8FA;
    height: 7vh;
    width: 100%;
    display: flex;

    align-items: center;
    justify-items: stretch;
    padding: 0 2vh;
}

.navegacion img {
    width: 5vh;
}

.navegacion a {
    font-weight: 500;
}

.logo-nombre {
    display: flex;
    align-items: center;
    float: left;
}

.logo-nombre h1 {
    color: black;
    margin-right: 2vw;
    padding-left: 0.3vw;
}

.secciones ul{
    display: none;
}

.secciones li {
    padding: 1vh 0.8vw;
}

.secciones a:hover {
    padding: 1.5vh 0.5vw;
    background-color: #E9E9E9;
    border-radius: 10px;
}

.form {
    margin-left: 2vw;
    width: 25vw;
}

.form-control {
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    padding-right: 2vw;
}

.form-control input[type="text"] {
    background-color: #FFF;
    border: 1px solid #ced4da;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #686868;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 0.1vh 2vw;
    padding-right: 0;
    width: 100%;
}

.form-control input[type="text"]::placeholder {
    color: #CDCDCD;
    font-weight: 600;
}

.form-control input:focus {
    outline: 0;
    border:1px solid #CDCDCD;
    box-shadow: 0 0 10px #719ECE;
}

.btn-search{
    border: 1px solid transparent;
    border-radius: 15px;
    color: black;
    margin-left: -1px;
    padding: .2rem .4rem;
    text-align: center;
    background-color: #E9E9E9;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.btn-search:hover {
    background-color: #d4d4d4;
}

.inicio-sesion {
    display: flex;
    align-items: center;
}

#inicio {
    font-size: 1em;
}

#registro {
    font-size: 0.8em;
}

.sesion-opciones {
    display: none;
    padding-left: 0.5vw;
}

.inicio-sesion a:hover {
    background-color: #E9E9E9;
    border-radius: 10px;
}

.inicio-sesion a img:hover {
    padding: 1vh 0;
}

.carrito {
    display: flex;
    align-items: center;
    float: right;
    justify-content: center;
    padding-left: 0.5vw;
}

.carrito:hover {
    background-color: #E9E9E9;
    border-radius: 10px;
    padding: 1vh 0;
}

#carrito-texto {
    display: none;
}

/*-----------------------------*/
/*      MAIN DEL SITIO WEB     */
/*-----------------------------*/

.container {
    background-color: #FFF4E3;
    width: 100%;
    padding: 3vh 0;
    height: 86vh;
    font-family: 'Roboto', sans-serif;
}

.btn {
    border-radius: 15px;
    border: 0;
    padding: 1.3vh 0;
    width: 100%;
    /*font-size: 1em;*/
    font-weight: bolder;
}

.container-login {
    padding-top: 1.5vh;
    width: 100%;
}

.container-formulario {
    background-color: #FFE3B9;
    border-radius: 15px;
    margin: 0 auto;
    padding: 0.5vh 0.5vw 1vh;
    /*width: 35%;*/
}

.container-formulario h1 {
    font-size: 1.6em;
    text-align: center;
    color: black;
    padding: 1vh 0;
}

.formulario {
    padding: 0 1.5vw;
    margin-bottom: 1.5vh;
}

.formulario label{
    display: block;
    font-weight: bolder;
    margin-bottom:0.3vh;
    color: black;
}

.formulario input {
    border-radius: 15px;
    border: 1px solid #ced4da;
    font-size: 1em;
    padding: 1.3vh 1.5vw;
    width: 100%;
    font-weight: bolder;
    color: #686868;
}

.formulario input:focus {
    outline:  none;
    border:1px solid #CDCDCD;
    box-shadow: 0 0 10px #719ECE;
}

.btn-login {
    background-color: #203755;
    color: white;
}
.btn-login:hover {
    background-color: #284a78;
}

span {
    color: black;
    font-weight: bolder;
}

.line {
    margin: 0.5vh 0 1.5vh;
    position: relative;
    text-align: center;
}

.line::before {
    border-bottom: 1px solid white;
    content: "";
    position: absolute;
    left: 0;
    top:  50%;
    width: 100%;
    z-index: 1;
}

.line span {
    background-color: #FFE3B9;
    font-family: arial;
    padding: 0 0.5vw;
    position: relative;
    z-index: 3;
}

.login-social {
    padding: 0 1.4vw;
}

.login-social button {
    color:  white;
    margin-bottom: 0.5vh;
}

.btn-facebook {
    background-color: #405B98;
}

.btn-facebook:hover {
    background-color: #364c80;
}

.btn-google {
    background-color: #DD4B39;
}

.btn-google:hover {
    background-color: #b33d2e;
}

.register {
    color: black;
    display: flex;
    justify-content: right;
    font-weight: bolder;
}

.register h2 {
    text-align: right;
}

.register a {
    color: #2675A7;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    text-decoration: underline;
}




/*-------------------------------*/
/*      FOOTER DEL SITIO WEB     */
/*-------------------------------*/

.footer {
    background-color: #F7F8FA;
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer h2 {
        margin: 0 auto;
        text-align: center;
}

/*----------------------------------------------------------*/
/*      ELEMENTOS AL MODIFICAR AL ANCHO DE LA PANTALLA      */
/*----------------------------------------------------------*/

@media screen and (max-width: 320px) {
    #menu {
        display: block;
    }

    .logo-nombre h1 {
        font-size: 1em;
        margin-right: 0.3vw;
    }

    .form-control {
        width: 30vw;
    }
    /*-------------------------*/
    /*-------------------------*/
    .footer h2 {
        font-size: 0.5em;
    }
}

@media screen and (max-width: 1023px/*767px*/) {
    #menu {
        display: block;
    }

    .logo-nombre h1 {
        font-size: 1em;
        margin-right: 0.3vw;
    }

    .form {
        width: 60vw;
    }

    .inicio-sesion {
        width: 10vw;
        justify-content: center;
    }

    .carrito {
        width: 10vw;
    }

    /*================================================*/
    .btn {
        font-size: 0.8em;
    }
    
    .container-formulario {
        width: 85%;
    }

    .register h2 {
        font-size: 0.7em;
    }

    .register a {
        font-size: 0.7em;
        
    }
    /*================================================*/

    .footer h2 {
        font-size: 0.7em;
    }
}

@media only screen and (min-width: 1024px) {
    .logo-nombre h1 {
        font-size: 1.5em;
    }

    .secciones ul {
        display: flex;
        align-items: center;
        float: left;
    }

    .sesion-opciones {
        display: grid;
    }

    .form {
        width: 45vw;
    }

    .inicio-sesion {
        width: 20vw;
        justify-content: center;
    }

    #carrito-texto {
        display: flex;
        align-items: center;
        float: right;
    }

    .carrito {
        width: 10vw;
        justify-content: center;
    }
    /*-----------------------------*/
    .btn {
        font-size: 1em;
    }

    .container-formulario {
        width: 50%;
    }

    .register h2 {
        font-size: 1em;
    }

    .register a {
        font-size: 1em;
        
    }
    /*------------------------------*/
    .footer h2 {
        font-size: 0.8em;
    }
}