/* HECHO POR: Enrique León Geraldo IDS 5 T.M. */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,900&display=swap');

/*------------------------------*/
/*  CSS PARA VARIOS ELEMENTOS   */
/*------------------------------*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;  
}

body, a {
    font-family: 'Roboto', sans-serif;
}

/*--------------------------------------------------------------------------*/
/*  MENÚ DESPLEGABLE AL REDUCIR EL ANCHO DE LA PANTALLA A MENOS DE 768PX    */
/*--------------------------------------------------------------------------*/

#menu li>a{
  background-color: #F7F8FA;
  color: #686868;
  padding: 10px;
  display: block;
  text-decoration: none;
}
#menu li>a:hover{
  color: #686868;
  background-color: #E9E9E9;
}
#menu>li{
  float: left;

}
#menu>li>ul{
    position: absolute;
  display: none;
}
#menu>li:hover>ul {
  display:block;
}

#menu-inicio {
    color: black!important;
    font-size: 3vh;
}

.menu-opciones {
    font-size: 1rem;
}

#menu {
    display: none;
}

/*------------------------------------------------*/
/*      MENÚ SUPERIOR DE NAVEGACIÓN DEL SITIO     */
/*------------------------------------------------*/

.navegacion {
    background-color: #F7F8FA;
    height: 7vh;
    width: 100%;
    display: flex;

    align-items: center;
    justify-items: stretch;
    padding: 0 2vh;
}

.navegacion img {
    width: 5vh;
}

.navegacion a {
    font-weight: 500;
    color: #686868;
}

.logo-nombre {
    display: flex;
    align-items: center;
    float: left;
}

.logo-nombre h1 {
    color: black;
    margin-right: 2vw;
    padding-left: 0.3vw;
}

.secciones ul{
    display: none;
}

.secciones li {
    padding: 1vh 0.8vw;
}

.secciones a:hover {
    padding: 1.5vh 0.5vw;
    background-color: #E9E9E9;
    border-radius: 10px;
}

.form {
    margin-left: 2vw;
    width: 25vw;
}

.form-control {
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    padding-right: 2vw;
}

.form-control input[type="text"] {
    background-color: #FFF;
    border: 1px solid #ced4da;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #686868;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 0.1vh 2vw;
    padding-right: 0;
    width: 100%;
}

.form-control input[type="text"]::placeholder {
    color: #CDCDCD;
    font-weight: 600;
}

.form-control input:focus {
    outline: 0;
    border:1px solid #CDCDCD;
    box-shadow: 0 0 10px #719ECE;
}

.btn-search{
    border: 1px solid transparent;
    border-radius: 15px;
    color: black;
    margin-left: -1px;
    padding: .2rem .4rem;
    text-align: center;
    background-color: #E9E9E9;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.btn-search:hover {
    background-color: #d4d4d4;
}

.inicio-sesion {
    display: flex;
    align-items: center;
}

#inicio {
    font-size: 1em;
}

#registro {
    font-size: 0.8em;
}

.sesion-opciones {
    display: none;
    padding-left: 0.5vw;
}

.inicio-sesion a:hover {
    background-color: #E9E9E9;
    border-radius: 10px;
}

.inicio-sesion a img:hover {
    padding: 1vh 0;
}

.carrito {
    display: flex;
    align-items: center;
    float: right;
    justify-content: center;
    padding-left: 0.5vw;
}

.carrito:hover {
    background-color: #E9E9E9;
    border-radius: 10px;
    padding: 1vh 0;
}

#carrito-texto {
    display: none;
}

/*-----------------------------*/
/*      MAIN DEL SITIO WEB     */
/*-----------------------------*/

.container {
    background-color: #FFF4E3;
    padding: 3vh 0;
}

.container-vacio {
    background-color: #FFF4E3;
    padding: 3vh 0;
    height: 200vh;
}

.container-historial {
    background-color: white;
    margin: 0 auto;
    border-radius: 15px;
    justify-content: center;
}

.container-historial h1{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0.4em;
    font-size: 1.6em;
    border-bottom: 2px solid black;
}

table {
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
}

table th {
    border-bottom: 1px solid black;
    padding: 0.5% 0;

}

table td {
    padding: 0.5% 0;
    border-bottom: 1px solid #CDCDCD;
    text-align: center;
}

table td img {
    width: 5vw;
}

.spanVacio {
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-items: center;
    justify-content: center;
}

/*-------------------------------*/
/*      FOOTER DEL SITIO WEB     */
/*-------------------------------*/

.footer {
    background-color: #F7F8FA;
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer h2 {
        margin: 0 auto;
        text-align: center;
        color: #686868;
}

/*----------------------------------------------------------*/
/*      ELEMENTOS AL MODIFICAR AL ANCHO DE LA PANTALLA      */
/*----------------------------------------------------------*/

@media screen and (max-width: 520px) {
    #menu {
        display: block;
    }

    .logo-nombre h1 {
        font-size: 1em;
        margin-right: 0.3vw;
    }

    .form-control {
        width: 30vw;
    }

    .inicio-sesion {
        width: 10vw;
        justify-content: center;
    }

    .carrito {
        width: 10vw;
    }

    .container-historial {
        width: 95%;
    }

    table th {
        font-size: 0.8em;
    }

    table td {
        font-size: 0.7em;
    }

    .footer h2 {
        font-size: 0.5em;
    }
}

@media screen and (min-width: 521px) {
    #menu {
        display: block;
    }

    .logo-nombre h1 {
        font-size: 1em;
        margin-right: 0.3vw;
    }

    .form {
        width: 60vw;
    }

    .inicio-sesion {
        width: 10vw;
        justify-content: center;
    }

    .container-historial {
        width: 80%;
    }

    .carrito {
        width: 10vw;
    }

    .container-grid {
        width: 80%;
        grid-template-columns: auto auto;
    }

    .grid img {
        width: 35vw;
        height: 25vh;
        border-radius: 15px;
    }

    .footer h2 {
        font-size: 0.7em;
    }
}

@media only screen and (min-width: 1024px) {
    .logo-nombre h1 {
        font-size: 1.5em;
    }

    .secciones ul {
        display: flex;
        align-items: center;
        float: left;
    }

    .sesion-opciones {
        display: grid;
    }

    .form {
        width: 45vw;
    }

    .inicio-sesion {
        width: 20vw;
        justify-content: center;
    }

    #carrito-texto {
        display: flex;
        align-items: center;
        float: right;
    }

    .container-historial {
        width: 70%;
    }

    .carrito {
        width: 10vw;
        justify-content: center;
    }

    .grid img {
        width: 15vw;
        height: 35vh;
        border-radius: 15px;
    }

    .footer h2 {
        font-size: 0.8em;
    }
}


